<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="ActionSequence">
      <section name="Actions" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
      
  </appSettings>  

  <ActionSequence>
    <Actions>
      <add key="ExecutablePath1" value="C:/windows/system32/notepad.exe"/>  
      <add key="Wait0" value="2"/>
      <add key="WinFinder1" value="Untitled - Notepad"/>
      <add key="SetFocus1" value="15"/>   <!-- Id of the Notepad editor area. -->
      
          <!-- In SetText operation ';#' acts as a separator between the control id and the text. -->
      <add key="SetText1" value="15;#This demo will open calculator and do some automated operations."/>
      
      <add key="Wait1" value="2"/>
      <add key="ExecutablePath2" value="C:/windows/system32/calc.exe"/>  
      <add key="Wait2" value="2"/>      
      <add key="WinFinder2" value="Calculator"/> 
      <!-- Auomation ID For below Windows 10 -->
      <add key="FindElementByUid2" value="134"></add>   <!-- Id for button 4 -->
      <add key="Wait3" value="1"/>
      <add key="FindElementByUid3" value="92"></add>    <!-- Id for button * -->
      <add key="Wait4" value="1"/>
      <add key="FindElementByUid4" value="136"></add>   <!-- Id for button 6 -->
      <add key="Wait5" value="1"/>
      <add key="FindElementByUid5" value="121"></add>   <!-- Id for button = -->
      
      
      <!-- Auomation ID For Windows 10, uncomment these if you are using Windows 10 and comment the above Ids -->
      <!-- <add key="FindElementByUid2" value="num4Button"></add>
      <add key="Wait2" value="1"/>
      <add key="FindElementByUid3" value="multiplyButton"></add>
      <add key="Wait3" value="1"/>
      <add key="FindElementByUid4" value="num6Button"></add>
      <add key="Wait4" value="1"/>
      <add key="FindElementByUid5" value="equalButton"></add> -->
    </Actions>
  </ActionSequence>
</configuration>


<!--  ::::::::::::::::::: Sample all Controls available :::::::::::::::::

<add key="ExecutablePath1" value="C:/windows/system32/notepad.exe"/>
<add key="Wait0" value="5"/>
<add key="WinFinder1" value="Calculator"/>
<add key="FindElementByUid1" value="134"></add>
<add key="FindElementByName1" value="num4Button"></add>
<add key="SetFocus1" value="15"/>
<add key="SetFocusByName1" value="textBoxLic1"/>
<add key="SetText1" value="15;#This sample text."/>
-->